name: "Lib Continuous Integration"

on: 
  workflow_dispatch:
  push:
    paths: 
      - lib/**
    tags-ignore:
      - '*'

jobs:
  lib-ci:
    uses: ./.github/workflows/multi-target-lib-ci.yaml
    with:
        project-dir: "lib"
        project-name: "lib"
    secrets: inherit