name: "Lib Continuous Integration"

on: 
  push:
    paths: 
      - 'lib/**'
      - '.github/workflows/lib.ci.yaml'
      #- '.github/workflows/multi-target-lib-ci.yaml'
    tags-ignore:
      - '*'
    branches:
      - '*'
  schedule:
    - cron:  '30 5 * * *'

jobs:
  bcl-cd:
    uses: ./.github/workflows/multi-target-lib-ci.yaml
    with:
        project-dir: "lib"
        project-name: "lib"
    secrets: inherit